# Interacting with SQLite using Python
  
  <br/><br/>

This notebook illustrates how to interact with SQLite using Python, by connecting an existing database downloaded from [this](https://www.kaggle.com/code/alaasedeeq/chinook-sql/input) Kaggle page.  
  

  
  <br/><br/>

![](./images/chinook-schema.png)

## Importing Libraries and Data

In [1]:
import pandas as pd
import sqlite3

## Connecting to the database  


We are going to connect the SQL database using the connect() method, then create a cursor which will execute the SQL queries.

In [2]:
# connect to the SQLite database 
connection = sqlite3.connect('../data/0-external/chinook.db')

# create a cursor object
cursor = connection.cursor()

In [3]:
# define the SQL command
query_01 = "SELECT * FROM invoice;"

There are different methods to retrieve SQL queries: we are going to test `execute()`, which returns a list with different fetching options, and `read_sql()`, which displays the result in a Pandas DataFrame.

In [4]:
# execute the SQL command
cursor.execute(query_01)

# fetch all the records
all_invoices = cursor.fetchall()

# display results
print("All Invoices")
for invoice in all_invoices:
        print(invoice)

All Invoices
(1, 18, '2017-01-03 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 15.84)
(2, 30, '2017-01-03 00:00:00', '230 Elgin Street', 'Ottawa', 'ON', 'Canada', 'K2P 1L7', 9.9)
(3, 40, '2017-01-05 00:00:00', '8, Rue Hanovre', 'Paris', 'None', 'France', '75002', 1.98)
(4, 18, '2017-01-06 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 7.92)
(5, 27, '2017-01-07 00:00:00', '1033 N Park Ave', 'Tucson', 'AZ', 'USA', '85719', 16.83)
(6, 31, '2017-01-10 00:00:00', '194A Chain Lake Drive', 'Halifax', 'NS', 'Canada', 'B3S 1C5', 1.98)
(7, 49, '2017-01-12 00:00:00', 'Ordynacka 10', 'Warsaw', 'None', 'Poland', '00-358', 10.89)
(8, 59, '2017-01-13 00:00:00', '3,Raj Bhavan Road', 'Bangalore', 'None', 'India', '560001', 9.9)
(9, 18, '2017-01-18 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 8.91)
(10, 31, '2017-01-18 00:00:00', '194A Chain Lake Drive', 'Halifax', 'NS', 'Canada', 'B3S 1C5', 1.98)
(11, 38, '2017-01-20 00:00:00', 'Barbarossastraße 19', 'Berlin', 'None', 'Germany', '10779', 10.89)
(12, 42, '2017-01-21 00:00:00', '9, Place Louis Barthou', 'Bordeaux', 'None', 'France', '33000', 3.96)
(13, 35, '2017-01-22 00:00:00', 'Rua dos Campeões Europeus de Viena, 4350', 'Porto', 'None', 'Portugal', 'None', 0.99)
(14, 25, '2017-01-23 00:00:00', '319 N. Frances Street', 'Madison', 'WI', 'USA', '53703', 0.99)
(15, 44, '2017-01-25 00:00:00', 'Porthaninkatu 9', 'Helsinki', 'None', 'Finland', '00530', 3.96)
(16, 1, '2017-01-26 00:00:00', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', 8.91)
(17, 20, '2017-01-28 00:00:00', '541 Del Medio Avenue', 'Mountain View', 'CA', 'USA', '94040-111', 10.89)
(18, 24, '2017-02-02 00:00:00', '162 E Superior Street', 'Chicago', 'IL', 'USA', '60611', 4.95)
(19, 10, '2017-02-06 00:00:00', 'Rua Dr. Falcão Filho, 155', 'São Paulo', 'SP', 'Brazil', '01007-010', 6.93)
(20, 43, '2017-02-06 00:00:00', '68, Rue Jouvence', 'Dijon', 'None', 'France', '21000', 9.9)
(21, 9, '2017-02-07 00:00:00', 'Sønder Boulevard 51', 'Copenhagen', 'None', 'Denmark', '1720', 8.91)
(22, 35, '2017-02-08 00:00:00', 'Rua dos Campeões Europeus de Viena, 4350', 'Porto', 'None', 'Portugal', 'None', 1.98)
(23, 53, '2017-02-09 00:00:00', '113 Lupus St', 'London', 'None', 'United Kingdom', 'SW1V 3EN', 9.9)
(24, 4, '2017-02-10 00:00:00', 'Ullevålsveien 14', 'Oslo', 'None', 'Norway', '0171', 11.879999999999999)
(25, 39, '2017-02-11 00:00:00', '4, Rue Milton', 'Paris', 'None', 'France', '75009', 7.92)
(26, 55, '2017-02-15 00:00:00', '421 Bourke Street', 'Sidney', 'NSW', 'Australia', '2010', 1.98)
(27, 35, '2017-02-15 00:00:00', 'Rua dos Campeões Europeus de Viena, 4350', 'Porto', 'None', 'Portugal', 'None', 7.92)
(28, 12, '2017-02-17 00:00:00', 'Praça Pio X, 119', 'Rio de Janeiro', 'RJ', 'Brazil', '20040-020', 2.9699999999999998)
(29, 45, '2017-02-17 00:00:00', 'Erzsébet krt. 58.', 'Budapest', 'None', 'Hungary', 'H-1073', 5.9399999999999995)
(30, 46, '2017-02-18 00:00:00', '3 Chatham Street', 'Dublin', 'Dublin', 'Ireland', 'None', 10.89)
(31, 3, '2017-02-21 00:00:00', '1498 rue Bélanger', 'Montréal', 'QC', 'Canada', 'H2G 1A7', 19.8)
(32, 30, '2017-02-21 00:00:00', '230 Elgin Street', 'Ottawa', 'ON', 'Canada', 'K2P 1L7', 12.87)
(33, 58, '2017-02-21 00:00:00', '12,Community Centre', 'Delhi', 'None', 'India', '110017', 3.96)
(34, 33, '2017-02-23 00:00:00', '5112 48 Street', 'Yellowknife', 'NT', 'Canada', 'X1A 1N6', 0.99)
(35, 34, '2017-02-25 00:00:00', 'Rua da Assunção 53', 'Lisbon', 'None', 'Portugal', 'None', 4.95)
(36, 51, '2017-02-27 00:00:00', 'Celsiusg. 9', 'Stockholm', 'None', 'Sweden', '11230', 6.93)
(37, 59, '2017-03-05 00:00:00', '3,Raj Bhavan Road', 'Bangalore', 'None', 'India', '560001', 9.9)
(38, 49, '2017-03-05 00:00:00', 'Ordynacka 10', 'Warsaw', 'None', 'Poland', '00-358', 6.93)
(39, 39, '2017-03-12 00:00:00', '4, Rue Milton', 'Paris', 'None', 'France', '75009', 7.92)
(40, 37, '2017-03-13 00:00:00', 'Berger Straße 10', 'Frankfurt', 'None', 'Germany', '60316', 9.9)
(41, 50, '2017-03-17 00:00:00', 'C/ San Bernardo 85', 'Madrid', 'None', 'Spain', '28015', 7.92)
(42, 19, '2017-03-18 00:00:00', '1 Infinite Loop', 'Cupertino', 'CA', 'USA', '95014', 8.91)
(43, 22, '2017-03-19 00:00:00', '120 S Orange Ave', 'Orlando', 'FL', 'USA', '32801', 6.93)
(44, 21, '2017-03-20 00:00:00', '801 W 4th Street', 'Reno', 'NV', 'USA', '89503', 11.879999999999999)
(45, 36, '2017-03-24 00:00:00', 'Tauentzienstraße 8', 'Berlin', 'None', 'Germany', '10789', 7.92)
(46, 4, '2017-03-24 00:00:00', 'Ullevålsveien 14', 'Oslo', 'None', 'Norway', '0171', 10.89)
(47, 57, '2017-03-25 00:00:00', 'Calle Lira, 198', 'Santiago', 'None', 'Chile', 'None', 5.9399999999999995)
(48, 44, '2017-03-28 00:00:00', 'Porthaninkatu 9', 'Helsinki', 'None', 'Finland', '00530', 3.96)
(49, 10, '2017-03-30 00:00:00', 'Rua Dr. Falcão Filho, 155', 'São Paulo', 'SP', 'Brazil', '01007-010', 4.95)
(50, 18, '2017-04-02 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 6.93)
(51, 19, '2017-04-03 00:00:00', '1 Infinite Loop', 'Cupertino', 'CA', 'USA', '95014', 7.92)
(52, 19, '2017-04-11 00:00:00', '1 Infinite Loop', 'Cupertino', 'CA', 'USA', '95014', 11.879999999999999)
(53, 43, '2017-04-12 00:00:00', '68, Rue Jouvence', 'Dijon', 'None', 'France', '21000', 2.9699999999999998)
(54, 26, '2017-04-13 00:00:00', '2211 W Berry Street', 'Fort Worth', 'TX', 'USA', '76110', 17.82)
(55, 33, '2017-04-16 00:00:00', '5112 48 Street', 'Yellowknife', 'NT', 'Canada', 'X1A 1N6', 9.9)
(56, 34, '2017-04-22 00:00:00', 'Rua da Assunção 53', 'Lisbon', 'None', 'Portugal', 'None', 16.83)
(57, 19, '2017-04-22 00:00:00', '1 Infinite Loop', 'Cupertino', 'CA', 'USA', '95014', 0.99)
(58, 9, '2017-04-23 00:00:00', 'Sønder Boulevard 51', 'Copenhagen', 'None', 'Denmark', '1720', 5.9399999999999995)
(59, 38, '2017-04-24 00:00:00', 'Barbarossastraße 19', 'Berlin', 'None', 'Germany', '10779', 10.89)
(60, 15, '2017-04-24 00:00:00', '700 W Pender Street', 'Vancouver', 'BC', 'Canada', 'V6C 1G8', 7.92)
(61, 59, '2017-04-24 00:00:00', '3,Raj Bhavan Road', 'Bangalore', 'None', 'India', '560001', 11.879999999999999)
(62, 9, '2017-04-25 00:00:00', 'Sønder Boulevard 51', 'Copenhagen', 'None', 'Denmark', '1720', 2.9699999999999998)
(63, 31, '2017-04-25 00:00:00', '194A Chain Lake Drive', 'Halifax', 'NS', 'Canada', 'B3S 1C5', 5.9399999999999995)
(64, 52, '2017-04-25 00:00:00', '202 Hoxton Street', 'London', 'None', 'United Kingdom', 'N1 5LH', 12.87)
(65, 47, '2017-04-26 00:00:00', 'Via Degli Scipioni, 43', 'Rome', 'RM', 'Italy', '00192', 1.98)
(66, 16, '2017-04-29 00:00:00', '1600 Amphitheatre Parkway', 'Mountain View', 'CA', 'USA', '94043-1351', 6.93)
(67, 39, '2017-05-01 00:00:00', '4, Rue Milton', 'Paris', 'None', 'France', '75009', 10.89)
(68, 57, '2017-05-01 00:00:00', 'Calle Lira, 198', 'Santiago', 'None', 'Chile', 'None', 10.89)
(69, 2, '2017-05-09 00:00:00', 'Theodor-Heuss-Straße 34', 'Stuttgart', 'None', 'Germany', '70174', 13.86)
(70, 31, '2017-05-13 00:00:00', '194A Chain Lake Drive', 'Halifax', 'NS', 'Canada', 'B3S 1C5', 0.99)
(71, 3, '2017-05-17 00:00:00', '1498 rue Bélanger', 'Montréal', 'QC', 'Canada', 'H2G 1A7', 16.83)
(72, 47, '2017-05-18 00:00:00', 'Via Degli Scipioni, 43', 'Rome', 'RM', 'Italy', '00192', 2.9699999999999998)
(73, 13, '2017-05-18 00:00:00', 'Qe 7 Bloco G', 'Brasília', 'DF', 'Brazil', '71020-677', 14.85)
(74, 26, '2017-05-18 00:00:00', '2211 W Berry Street', 'Fort Worth', 'TX', 'USA', '76110', 1.98)
(75, 16, '2017-05-24 00:00:00', '1600 Amphitheatre Parkway', 'Mountain View', 'CA', 'USA', '94043-1351', 3.96)
(76, 40, '2017-05-26 00:00:00', '8, Rue Hanovre', 'Paris', 'None', 'France', '75002', 12.87)
(77, 1, '2017-05-28 00:00:00', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', 5.9399999999999995)
(78, 5, '2017-05-29 00:00:00', 'Klanova 9/506', 'Prague', 'None', 'Czech Republic', '14700', 8.91)
(79, 36, '2017-06-08 00:00:00', 'Tauentzienstraße 8', 'Berlin', 'None', 'Germany', '10789', 13.86)
(80, 13, '2017-06-08 00:00:00', 'Qe 7 Bloco G', 'Brasília', 'DF', 'Brazil', '71020-677', 0.99)
(81, 4, '2017-06-12 00:00:00', 'Ullevålsveien 14', 'Oslo', 'None', 'Norway', '0171', 5.9399999999999995)
(82, 58, '2017-06-13 00:00:00', '12,Community Centre', 'Delhi', 'None', 'India', '110017', 6.93)
(83, 22, '2017-06-15 00:00:00', '120 S Orange Ave', 'Orlando', 'FL', 'USA', '32801', 3.96)
(84, 48, '2017-06-15 00:00:00', 'Lijnbaansgracht 120bg', 'Amsterdam', 'VV', 'Netherlands', '1016', 11.879999999999999)
(85, 33, '2017-06-17 00:00:00', '5112 48 Street', 'Yellowknife', 'NT', 'Canada', 'X1A 1N6', 4.95)
(86, 46, '2017-06-18 00:00:00', '3 Chatham Street', 'Dublin', 'Dublin', 'Ireland', 'None', 0.99)
(87, 30, '2017-06-20 00:00:00', '230 Elgin Street', 'Ottawa', 'ON', 'Canada', 'K2P 1L7', 7.92)
(88, 31, '2017-06-21 00:00:00', '194A Chain Lake Drive', 'Halifax', 'NS', 'Canada', 'B3S 1C5', 4.95)
(89, 21, '2017-06-23 00:00:00', '801 W 4th Street', 'Reno', 'NV', 'USA', '89503', 1.98)
(90, 55, '2017-06-28 00:00:00', '421 Bourke Street', 'Sidney', 'NSW', 'Australia', '2010', 10.89)
(91, 36, '2017-07-01 00:00:00', 'Tauentzienstraße 8', 'Berlin', 'None', 'Germany', '10789', 10.89)
(92, 32, '2017-07-02 00:00:00', '696 Osborne Street', 'Winnipeg', 'MB', 'Canada', 'R3L 2B9', 19.8)
(93, 42, '2017-07-05 00:00:00', '9, Place Louis Barthou', 'Bordeaux', 'None', 'France', '33000', 9.9)
(94, 51, '2017-07-08 00:00:00', 'Celsiusg. 9', 'Stockholm', 'None', 'Sweden', '11230', 7.92)
(95, 45, '2017-07-10 00:00:00', 'Erzsébet krt. 58.', 'Budapest', 'None', 'Hungary', 'H-1073', 10.89)
(96, 53, '2017-07-17 00:00:00', '113 Lupus St', 'London', 'None', 'United Kingdom', 'SW1V 3EN', 5.9399999999999995)
(97, 8, '2017-07-22 00:00:00', 'Grétrystraat 63', 'Brussels', 'None', 'Belgium', '1000', 5.9399999999999995)
(98, 17, '2017-07-23 00:00:00', '1 Microsoft Way', 'Redmond', 'WA', 'USA', '98052-8300', 9.9)
(99, 55, '2017-07-28 00:00:00', '421 Bourke Street', 'Sidney', 'NSW', 'Australia', '2010', 17.82)
(100, 58, '2017-07-31 00:00:00', '12,Community Centre', 'Delhi', 'None', 'India', '110017', 5.9399999999999995)
(101, 20, '2017-07-31 00:00:00', '541 Del Medio Avenue', 'Mountain View', 'CA', 'USA', '94040-111', 3.96)
(102, 8, '2017-08-02 00:00:00', 'Grétrystraat 63', 'Brussels', 'None', 'Belgium', '1000', 9.9)
(103, 39, '2017-08-03 00:00:00', '4, Rue Milton', 'Paris', 'None', 'France', '75009', 5.9399999999999995)
(104, 4, '2017-08-06 00:00:00', 'Ullevålsveien 14', 'Oslo', 'None', 'Norway', '0171', 1.98)
(105, 31, '2017-08-12 00:00:00', '194A Chain Lake Drive', 'Halifax', 'NS', 'Canada', 'B3S 1C5', 7.92)
(106, 54, '2017-08-19 00:00:00', '110 Raeburn Pl', 'Edinburgh ', 'None', 'United Kingdom', 'EH4 1HH', 7.92)
(107, 32, '2017-08-21 00:00:00', '696 Osborne Street', 'Winnipeg', 'MB', 'Canada', 'R3L 2B9', 10.89)
(108, 30, '2017-08-27 00:00:00', '230 Elgin Street', 'Ottawa', 'ON', 'Canada', 'K2P 1L7', 4.95)
(109, 22, '2017-08-29 00:00:00', '120 S Orange Ave', 'Orlando', 'FL', 'USA', '32801', 10.89)
(110, 15, '2017-08-29 00:00:00', '700 W Pender Street', 'Vancouver', 'BC', 'Canada', 'V6C 1G8', 5.9399999999999995)
(111, 13, '2017-08-30 00:00:00', 'Qe 7 Bloco G', 'Brasília', 'DF', 'Brazil', '71020-677', 4.95)
(112, 6, '2017-08-31 00:00:00', 'Rilská 3174/6', 'Prague', 'None', 'Czech Republic', '14300', 16.83)
(113, 13, '2017-09-01 00:00:00', 'Qe 7 Bloco G', 'Brasília', 'DF', 'Brazil', '71020-677', 9.9)
(114, 12, '2017-09-05 00:00:00', 'Praça Pio X, 119', 'Rio de Janeiro', 'RJ', 'Brazil', '20040-020', 16.83)
(115, 50, '2017-09-08 00:00:00', 'C/ San Bernardo 85', 'Madrid', 'None', 'Spain', '28015', 8.91)
(116, 6, '2017-09-08 00:00:00', 'Rilská 3174/6', 'Prague', 'None', 'Czech Republic', '14300', 10.89)
(117, 44, '2017-09-10 00:00:00', 'Porthaninkatu 9', 'Helsinki', 'None', 'Finland', '00530', 10.89)
(118, 28, '2017-09-10 00:00:00', '302 S 700 E', 'Salt Lake City', 'UT', 'USA', '84102', 0.99)
(119, 5, '2017-09-12 00:00:00', 'Klanova 9/506', 'Prague', 'None', 'Czech Republic', '14700', 1.98)
(120, 29, '2017-09-19 00:00:00', '796 Dundas Street West', 'Toronto', 'ON', 'Canada', 'M6J 1V1', 5.9399999999999995)
(121, 59, '2017-09-20 00:00:00', '3,Raj Bhavan Road', 'Bangalore', 'None', 'India', '560001', 8.91)
(122, 9, '2017-09-21 00:00:00', 'Sønder Boulevard 51', 'Copenhagen', 'None', 'Denmark', '1720', 4.95)
(123, 7, '2017-09-23 00:00:00', 'Rotenturmstraße 4, 1010 Innere Stadt', 'Vienne', 'None', 'Austria', '1010', 11.879999999999999)
(124, 8, '2017-09-25 00:00:00', 'Grétrystraat 63', 'Brussels', 'None', 'Belgium', '1000', 5.9399999999999995)
(125, 3, '2017-09-29 00:00:00', '1498 rue Bélanger', 'Montréal', 'QC', 'Canada', 'H2G 1A7', 9.9)
(126, 32, '2017-10-07 00:00:00', '696 Osborne Street', 'Winnipeg', 'MB', 'Canada', 'R3L 2B9', 3.96)
(127, 35, '2017-10-08 00:00:00', 'Rua dos Campeões Europeus de Viena, 4350', 'Porto', 'None', 'Portugal', 'None', 10.89)
(128, 17, '2017-10-12 00:00:00', '1 Microsoft Way', 'Redmond', 'WA', 'USA', '98052-8300', 6.93)
(129, 17, '2017-10-16 00:00:00', '1 Microsoft Way', 'Redmond', 'WA', 'USA', '98052-8300', 10.89)
(130, 13, '2017-10-19 00:00:00', 'Qe 7 Bloco G', 'Brasília', 'DF', 'Brazil', '71020-677', 3.96)
(131, 2, '2017-10-21 00:00:00', 'Theodor-Heuss-Straße 34', 'Stuttgart', 'None', 'Germany', '70174', 2.9699999999999998)
(132, 14, '2017-10-22 00:00:00', '8210 111 ST NW', 'Edmonton', 'AB', 'Canada', 'T6G 2C7', 1.98)
(133, 35, '2017-10-22 00:00:00', 'Rua dos Campeões Europeus de Viena, 4350', 'Porto', 'None', 'Portugal', 'None', 9.9)
(134, 2, '2017-10-23 00:00:00', 'Theodor-Heuss-Straße 34', 'Stuttgart', 'None', 'Germany', '70174', 7.92)
(135, 11, '2017-10-25 00:00:00', 'Av. Paulista, 2022', 'São Paulo', 'SP', 'Brazil', '01310-200', 2.9699999999999998)
(136, 33, '2017-10-29 00:00:00', '5112 48 Street', 'Yellowknife', 'NT', 'Canada', 'X1A 1N6', 3.96)
(137, 34, '2017-10-29 00:00:00', 'Rua da Assunção 53', 'Lisbon', 'None', 'Portugal', 'None', 1.98)
(138, 33, '2017-10-30 00:00:00', '5112 48 Street', 'Yellowknife', 'NT', 'Canada', 'X1A 1N6', 10.89)
(139, 23, '2017-11-03 00:00:00', '69 Salem Street', 'Boston', 'MA', 'USA', '2113', 4.95)
(140, 58, '2017-11-06 00:00:00', '12,Community Centre', 'Delhi', 'None', 'India', '110017', 7.92)
(141, 45, '2017-11-07 00:00:00', 'Erzsébet krt. 58.', 'Budapest', 'None', 'Hungary', 'H-1073', 17.82)
(142, 15, '2017-11-10 00:00:00', '700 W Pender Street', 'Vancouver', 'BC', 'Canada', 'V6C 1G8', 14.85)
(143, 25, '2017-11-10 00:00:00', '319 N. Frances Street', 'Madison', 'WI', 'USA', '53703', 4.95)
(144, 33, '2017-11-18 00:00:00', '5112 48 Street', 'Yellowknife', 'NT', 'Canada', 'X1A 1N6', 2.9699999999999998)
(145, 28, '2017-11-22 00:00:00', '302 S 700 E', 'Salt Lake City', 'UT', 'USA', '84102', 4.95)
(146, 58, '2017-11-22 00:00:00', '12,Community Centre', 'Delhi', 'None', 'India', '110017', 12.87)
(147, 19, '2017-11-28 00:00:00', '1 Infinite Loop', 'Cupertino', 'CA', 'USA', '95014', 4.95)
(148, 42, '2017-11-30 00:00:00', '9, Place Louis Barthou', 'Bordeaux', 'None', 'France', '33000', 8.91)
(149, 1, '2017-11-30 00:00:00', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', 8.91)
(150, 22, '2017-12-01 00:00:00', '120 S Orange Ave', 'Orlando', 'FL', 'USA', '32801', 2.9699999999999998)
(151, 35, '2017-12-06 00:00:00', 'Rua dos Campeões Europeus de Viena, 4350', 'Porto', 'None', 'Portugal', 'None', 2.9699999999999998)
(152, 12, '2017-12-12 00:00:00', 'Praça Pio X, 119', 'Rio de Janeiro', 'RJ', 'Brazil', '20040-020', 5.9399999999999995)
(153, 1, '2017-12-14 00:00:00', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', 13.86)
(154, 39, '2017-12-17 00:00:00', '4, Rue Milton', 'Paris', 'None', 'France', '75009', 2.9699999999999998)
(155, 59, '2018-01-02 00:00:00', '3,Raj Bhavan Road', 'Bangalore', 'None', 'India', '560001', 8.91)
(156, 10, '2018-01-03 00:00:00', 'Rua Dr. Falcão Filho, 155', 'São Paulo', 'SP', 'Brazil', '01007-010', 10.89)
(157, 57, '2018-01-04 00:00:00', 'Calle Lira, 198', 'Santiago', 'None', 'Chile', 'None', 0.99)
(158, 57, '2018-01-07 00:00:00', 'Calle Lira, 198', 'Santiago', 'None', 'Chile', 'None', 5.9399999999999995)
(159, 20, '2018-01-08 00:00:00', '541 Del Medio Avenue', 'Mountain View', 'CA', 'USA', '94040-111', 5.9399999999999995)
(160, 41, '2018-01-09 00:00:00', '11, Place Bellecour', 'Lyon', 'None', 'France', '69002', 8.91)
(161, 24, '2018-01-13 00:00:00', '162 E Superior Street', 'Chicago', 'IL', 'USA', '60611', 7.92)
(162, 2, '2018-01-15 00:00:00', 'Theodor-Heuss-Straße 34', 'Stuttgart', 'None', 'Germany', '70174', 8.91)
(163, 6, '2018-01-16 00:00:00', 'Rilská 3174/6', 'Prague', 'None', 'Czech Republic', '14300', 8.91)
(164, 49, '2018-01-20 00:00:00', 'Ordynacka 10', 'Warsaw', 'None', 'Poland', '00-358', 3.96)
(165, 41, '2018-01-21 00:00:00', '11, Place Bellecour', 'Lyon', 'None', 'France', '69002', 7.92)
(166, 17, '2018-01-21 00:00:00', '1 Microsoft Way', 'Redmond', 'WA', 'USA', '98052-8300', 9.9)
(167, 21, '2018-01-25 00:00:00', '801 W 4th Street', 'Reno', 'NV', 'USA', '89503', 5.9399999999999995)
(168, 47, '2018-01-27 00:00:00', 'Via Degli Scipioni, 43', 'Rome', 'RM', 'Italy', '00192', 5.9399999999999995)
(169, 21, '2018-01-28 00:00:00', '801 W 4th Street', 'Reno', 'NV', 'USA', '89503', 8.91)
(170, 45, '2018-01-28 00:00:00', 'Erzsébet krt. 58.', 'Budapest', 'None', 'Hungary', 'H-1073', 9.9)
(171, 53, '2018-01-30 00:00:00', '113 Lupus St', 'London', 'None', 'United Kingdom', 'SW1V 3EN', 12.87)
(172, 33, '2018-01-31 00:00:00', '5112 48 Street', 'Yellowknife', 'NT', 'Canada', 'X1A 1N6', 7.92)
(173, 5, '2018-01-31 00:00:00', 'Klanova 9/506', 'Prague', 'None', 'Czech Republic', '14700', 10.89)
(174, 48, '2018-01-31 00:00:00', 'Lijnbaansgracht 120bg', 'Amsterdam', 'VV', 'Netherlands', '1016', 6.93)
(175, 39, '2018-01-31 00:00:00', '4, Rue Milton', 'Paris', 'None', 'France', '75009', 17.82)
(176, 46, '2018-01-31 00:00:00', '3 Chatham Street', 'Dublin', 'Dublin', 'Ireland', 'None', 6.93)
(177, 47, '2018-02-01 00:00:00', 'Via Degli Scipioni, 43', 'Rome', 'RM', 'Italy', '00192', 1.98)
(178, 9, '2018-02-02 00:00:00', 'Sønder Boulevard 51', 'Copenhagen', 'None', 'Denmark', '1720', 2.9699999999999998)
(179, 25, '2018-02-03 00:00:00', '319 N. Frances Street', 'Madison', 'WI', 'USA', '53703', 9.9)
(180, 46, '2018-02-05 00:00:00', '3 Chatham Street', 'Dublin', 'Dublin', 'Ireland', 'None', 9.9)
(181, 45, '2018-02-06 00:00:00', 'Erzsébet krt. 58.', 'Budapest', 'None', 'Hungary', 'H-1073', 6.93)
(182, 1, '2018-02-07 00:00:00', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', 5.9399999999999995)
(183, 42, '2018-02-09 00:00:00', '9, Place Louis Barthou', 'Bordeaux', 'None', 'France', '33000', 23.759999999999998)
(184, 1, '2018-02-09 00:00:00', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', 0.99)
(185, 21, '2018-02-10 00:00:00', '801 W 4th Street', 'Reno', 'NV', 'USA', '89503', 8.91)
(186, 11, '2018-02-10 00:00:00', 'Av. Paulista, 2022', 'São Paulo', 'SP', 'Brazil', '01310-200', 2.9699999999999998)
(187, 18, '2018-02-18 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 6.93)
(188, 13, '2018-02-20 00:00:00', 'Qe 7 Bloco G', 'Brasília', 'DF', 'Brazil', '71020-677', 10.89)
(189, 13, '2018-02-21 00:00:00', 'Qe 7 Bloco G', 'Brasília', 'DF', 'Brazil', '71020-677', 3.96)
(190, 51, '2018-02-21 00:00:00', 'Celsiusg. 9', 'Stockholm', 'None', 'Sweden', '11230', 4.95)
(191, 51, '2018-02-22 00:00:00', 'Celsiusg. 9', 'Stockholm', 'None', 'Sweden', '11230', 3.96)
(192, 28, '2018-02-25 00:00:00', '302 S 700 E', 'Salt Lake City', 'UT', 'USA', '84102', 8.91)
(193, 41, '2018-02-26 00:00:00', '11, Place Bellecour', 'Lyon', 'None', 'France', '69002', 1.98)
(194, 34, '2018-02-27 00:00:00', 'Rua da Assunção 53', 'Lisbon', 'None', 'Portugal', 'None', 0.99)
(195, 27, '2018-03-02 00:00:00', '1033 N Park Ave', 'Tucson', 'AZ', 'USA', '85719', 10.89)

In [5]:
# execute the SQL command
cursor.execute(query_01)

# fetch all the records
ten_invoices = cursor.fetchmany(10)

# display results
print("Ten Invoices")
for invoice in ten_invoices:
        print(invoice)

Ten Invoices
(1, 18, '2017-01-03 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 15.84)
(2, 30, '2017-01-03 00:00:00', '230 Elgin Street', 'Ottawa', 'ON', 'Canada', 'K2P 1L7', 9.9)
(3, 40, '2017-01-05 00:00:00', '8, Rue Hanovre', 'Paris', 'None', 'France', '75002', 1.98)
(4, 18, '2017-01-06 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 7.92)
(5, 27, '2017-01-07 00:00:00', '1033 N Park Ave', 'Tucson', 'AZ', 'USA', '85719', 16.83)
(6, 31, '2017-01-10 00:00:00', '194A Chain Lake Drive', 'Halifax', 'NS', 'Canada', 'B3S 1C5', 1.98)
(7, 49, '2017-01-12 00:00:00', 'Ordynacka 10', 'Warsaw', 'None', 'Poland', '00-358', 10.89)
(8, 59, '2017-01-13 00:00:00', '3,Raj Bhavan Road', 'Bangalore', 'None', 'India', '560001', 9.9)
(9, 18, '2017-01-18 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 8.91)
(10, 31, '2017-01-18 00:00:00', '194A Chain Lake Drive', 'Halifax', 'NS', 'Canada', 'B3S 1C5', 1.98)

In [6]:
# execute the SQL command
cursor.execute(query_01)

# fetch all the records
invoice = cursor.fetchone()

# display results
print("First Invoice")
print(invoice)

First Invoice
(1, 18, '2017-01-03 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 15.84)

In [16]:
pd.read_sql(query_01, con=connection)

,invoice_id,customer_id,invoice_date,billing_address,billing_city,billing_state,billing_country,billing_postal_code,total
0,1,18,2017-01-03 00:00:00,627 Broadway,New York,NY,USA,10012-2612,15.84
1,2,30,2017-01-03 00:00:00,230 Elgin Street,Ottawa,ON,Canada,K2P 1L7,9.90
2,3,40,2017-01-05 00:00:00,"8, Rue Hanovre",Paris,None,France,75002,1.98
3,4,18,2017-01-06 00:00:00,627 Broadway,New York,NY,USA,10012-2612,7.92
4,5,27,2017-01-07 00:00:00,1033 N Park Ave,Tucson,AZ,USA,85719,16.83
...,...,...,...,...,...,...,...,...,...
609,610,55,2020-12-21 00:00:00,421 Bourke Street,Sidney,NSW,Australia,2010,6.93
610,611,52,2020-12-27 00:00:00,202 Hoxton Street,London,None,United Kingdom,N1 5LH,1.98
611,612,33,2020-12-27 00:00:00,5112 48 Street,Yellowknife,NT,Canada,X1A 1N6,11.88
612,613,20,2020-12-29 00:00:00,541 Del Medio Avenue,Mountain View,CA,USA,94040-111,8.91
613,614,53,2020-12-30 00:00:00,113 Lupus St,London,None,United Kingdom,SW1V 3EN,12.87

In [15]:
sql_query = "SELECT * FROM invoice"
            
pd.read_sql(sql_query, con=connection)

,invoice_id,customer_id,invoice_date,billing_address,billing_city,billing_state,billing_country,billing_postal_code,total
0,1,18,2017-01-03 00:00:00,627 Broadway,New York,NY,USA,10012-2612,15.84
1,2,30,2017-01-03 00:00:00,230 Elgin Street,Ottawa,ON,Canada,K2P 1L7,9.90
2,3,40,2017-01-05 00:00:00,"8, Rue Hanovre",Paris,None,France,75002,1.98
3,4,18,2017-01-06 00:00:00,627 Broadway,New York,NY,USA,10012-2612,7.92
4,5,27,2017-01-07 00:00:00,1033 N Park Ave,Tucson,AZ,USA,85719,16.83
...,...,...,...,...,...,...,...,...,...
609,610,55,2020-12-21 00:00:00,421 Bourke Street,Sidney,NSW,Australia,2010,6.93
610,611,52,2020-12-27 00:00:00,202 Hoxton Street,London,None,United Kingdom,N1 5LH,1.98
611,612,33,2020-12-27 00:00:00,5112 48 Street,Yellowknife,NT,Canada,X1A 1N6,11.88
612,613,20,2020-12-29 00:00:00,541 Del Medio Avenue,Mountain View,CA,USA,94040-111,8.91
613,614,53,2020-12-30 00:00:00,113 Lupus St,London,None,United Kingdom,SW1V 3EN,12.87

In [5]:
sql_query = """SELECT i.billing_country, COUNT(i.invoice_id) as invoices
            FROM invoice i
            GROUP BY i.billing_country
            ORDER BY invoices DESC"""

pd.read_sql(sql_query, con=connection)

   billing_country  invoices
0              USA       131
1           Canada        76
2           Brazil        61
3           France        50
4          Germany        41
5   Czech Republic        30
6         Portugal        29
7   United Kingdom        28
8            India        21
9          Ireland        13
10           Chile        13
11           Spain        11
12         Finland        11
13          Sweden        10
14          Poland        10
15     Netherlands        10
16         Hungary        10
17         Denmark        10
18       Australia        10
19          Norway         9
20           Italy         9
21         Austria         9
22         Belgium         7
23       Argentina         5